# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Build and Packaging
*.egg-info/
build/
dist/

# Models
*.pkl
!src/satlinksim/infrastructure/ml/xgb_link_model.pkl
!src/satlinksim/infrastructure/ml/feature_scaler.pkl

# Database
*.db
*.parquet
!src/satlinksim/infrastructure/ml/link_training_data.parquet

# Environment
.env
venv/
.venv/
